@use "../1-main/mixin.scss" as *;
@use "../1-main/variables.scss" as *;
.login {
  padding: 164px 0 64px;
  background: $secondary-gray;
  &__inner {
    max-width: 388px;
    margin: 0 auto;
    padding: 34px;
    background: $white;
    box-shadow: 0px 16px 32px -4px rgba(12, 12, 13, 0.1),
      0px 4px 4px -4px rgba(12, 12, 13, 0.05);
    border-radius: 12px;
    &-tabs {
      display: flex;
      margin-bottom: 30px;
      a {
        width: 50%;
        font-family: $barlow;
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: rgba(20, 40, 69, 0.6);
        padding: 14px;
        border-bottom: 1px solid rgba(20, 40, 69, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &.active {
          font-weight: 500;
          color: $primary-navy;
          border-color: rgba(20, 40, 69, 0.6);
        }
      }
    }
  }
}
// 1180px
@include xlg-xxlg {
  .login {
    padding: 140px 0 50px;
  }
}
