@use "../1-main/mixin.scss" as *;
@use "../1-main/variables.scss" as *;
h1 {
  font-weight: 500;
  font-size: 54px;
  line-height: 110%;
  font-family: $barlow;
}

h2 {
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
  font-family: $barlow;
}

h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  font-family: $barlow;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  font-family: $barlow;
}

h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}
.tag {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $primary-coral;
  padding: 6px 10px;
  background: rgba(254, 111, 97, 0.1);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.subhead {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}
p {
  &.big {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
  &.sm {
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
  }
}
.main {
  overflow: hidden;
  &.visible {
    overflow: visible;
  }
  &.dark {
    background: $secondary-gray;
  }
}
.anchor {
  position: relative;
  top: 50px;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $mainFont;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 14px 24px;
  &.primary {
    background: $primary-coral;
    color: $white;
    &:hover {
      opacity: 1;
      background: $primary-navy;
    }
  }
  &.secondary {
    background: $primary-blue;
    color: $primary-navy;
    &:hover {
      opacity: 1;
      background: $primary-navy;
      color: $white;
    }
  }
  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
.ujoin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 20px;
  max-width: 361px;
  margin: 0 auto;
  background: rgba(177, 221, 212, 0.3);
  border-radius: 12px;
  &.big {
    max-width: 380px;
  }
  p {
    margin-right: 20px;
  }
}
.breadcrumbs {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(20, 40, 69, 0.2);
  background: $white;
  z-index: 10;
  .auto__container {
    max-width: 1150px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      padding: 15px 12px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      color: $primary-navy;
      margin-right: 30px;
      white-space: nowrap;
      &:last-child {
        margin: 0;
      }
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background: $primary-coral;
        opacity: 0;
        transition: 0.3s ease;
      }
      &:hover {
        opacity: 1;
        color: $primary-coral;
        &::before {
          opacity: 1;
        }
      }
      &.active {
        color: $primary-coral;
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
.auth {
  &__col {
    margin-bottom: 18px;
  }
  &__main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 24px;

    &:last-of-type {
      margin: 0;
    }
    .button {
      width: 100%;
      margin-bottom: 18px;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__forgot {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-decoration-line: underline;
    color: $primary-navy;
  }
  &__divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      content: "";
      background: rgba(20, 40, 69, 0.2);
      transform: translateY(-50%);
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      text-align: center;
      color: #5c5f61;
      padding: 0 20px;
      background: $white;
      position: relative;
      z-index: 1;
    }
  }
  &__foot {
    padding-top: 24px;
    border-top: 1px solid rgba(20, 40, 69, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 12px;
    }
    button {
      display: flex;
      align-items: center;
      font-family: $mainFont;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: #0c1013;
      background: transparent;
      cursor: pointer;
      transition: 0.3s ease;
      b {
        text-decoration-line: underline;
        font-weight: 600;
      }
      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    &:last-child {
      margin: 0;
    }
    a {
      font-family: $mainFont;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #0c1013;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 20px;
      background: rgba(20, 40, 69, 0.1);
      border-radius: 12px;
      cursor: pointer;
      transition: 0.3s ease;
      margin-bottom: 16px;
      &:hover {
        background: rgba(20, 40, 69, 0.3);
      }
      &:last-child {
        margin: 0;
      }
      span {
        width: 20px;
        height: 20px;
        display: flex;
        margin-right: 8px;
        &.sm {
          width: 15px;
          height: 18px;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  &__copy {
    text-align: center;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: rgba(20, 40, 69, 0.6);
      a {
        color: rgba(20, 40, 69, 0.6);
        text-decoration: underline;
      }
    }
  }
  h2 {
    margin-bottom: 40px;
  }
}
.input {
  display: flex;
  &.sel {
    position: relative;
    svg {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      color: #1e1e1e;
    }
  }
  &__outer {
    margin-bottom: 16px;
    &:last-child {
      margin: 0;
    }
    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: #0c1013;
      margin-bottom: 8px;
    }
  }
  &__info {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    display: inline-flex;
    position: relative;
    margin-top: 3px;
    cursor: pointer;
    &:hover {
      span {
        opacity: 1;
        visibility: visible;
      }
    }
    svg {
      width: 100%;
      height: 100%;
    }
    span {
      position: absolute;
      bottom: calc(100% + 5px);
      left: 50%;
      width: 120px;
      padding: 6px;
      border-radius: 8px;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease;
      text-align: center;
      transform: translateX(-50%);
      background: $white;
      border: 1px solid $primary-navy;
      font-size: 12px;
      line-height: 120%;
      text-transform: lowercase;
      font-weight: 500;
      &::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 10px;
        height: 10px;
        content: "";
        transform: translate(-50%, 50%) rotate(135deg);
        background: $white;
        border-top: 1px solid $primary-navy;
        border-right: 1px solid $primary-navy;
        border-top-right-radius: 2px;
      }
    }
  }
  input,
  textarea,
  select {
    width: 100%;
    font-family: $mainFont;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $primary-navy;
    padding: 13px 16px;
    background: $white;
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    transition: 0.3s ease;
    -webkit-appearance: none;
    resize: unset;
    &::placeholder {
      color: rgba(20, 40, 69, 0.6);
    }
    &:focus {
      border-color: $primary-blue;
    }
  }
}
.select {
  display: flex;
  position: relative;
  cursor: pointer;
  select {
    width: 100%;
    font-family: $inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #1e1e1e;
    padding: 11px 36px 11px 16px;
    background: $white;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    -webkit-appearance: none;
    cursor: pointer;
  }
  svg {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    color: #1e1e1e;
  }
}
.upopup {
  width: 100%;
  &__title {
    margin-bottom: 16px;
    text-align: center;
    h4 {
      margin-bottom: 20px;
    }
    p {
      a {
        font-weight: 600;
        text-decoration: underline;
        &:hover {
          color: $primary-coral;
          opacity: 1;
        }
      }
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px 16px;
  }
  &__selects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    .select {
      width: calc(33.3% - 8px);
    }
  }
  &__main {
    .button {
      margin-bottom: 24px;
      width: 100%;
    }
    p {
      font-weight: 400;
      font-size: 13px;
      line-height: 140%;
      text-align: center;
      a {
        text-decoration: underline;
        &:hover {
          color: $primary-coral;
          opacity: 1;
        }
      }
    }
  }
  &__divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;
    margin: 24px 0;
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      content: "";
      background: rgba(20, 40, 69, 0.2);
      transform: translateY(-50%);
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      text-align: center;
      color: #5c5f61;
      padding: 0 20px;
      background: $white;
      position: relative;
      z-index: 1;
    }
  }
  &__foot {
    text-align: center;
    p {
      margin-bottom: 14px;
    }
    .button {
      width: 100%;
    }
  }
  .input {
    &__outer {
      width: calc(50% - 16px);
      margin: 8px;
      display: flex;
      flex-direction: column;
    }
    
  }
}
.modall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #142845, $alpha: 0.6);
  padding: 50px 34px;
  display: none;
  z-index: 9999;
  &.sm {
    padding: 0;
  }
  &.active {
    display: flex;
    animation: fadeIn 0.4s;
  }
  &__inner {
    background-color: $white;
    border-radius: 25px;
    padding: 70px 40px 30px;
    width: 100%;
    max-width: 600px;
    min-height: 300px;
    margin: auto;
    position: relative;
    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #efefef;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        opacity: 0.8;
      }
      &::before {
        width: 50%;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: #333;
      }
      &::after {
        width: 50%;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: #333;
      }
    }
    p {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 20px;
      &:last-child {
        margin: 0;
      }
      b {
        font-weight: 500;
        color: $black;
      }
    }
    h2,
    h3,
    h4 {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 26px;
    }
  }
}
.mfp-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 40, 69, 0.3);
  padding: 0;
}
.popup-content {
  max-width: 500px;
  background: $white;
  box-shadow: 0px 16px 32px -4px rgba(12, 12, 13, 0.1),
    0px 4px 4px -4px rgba(12, 12, 13, 0.05);
  border-radius: 20px;
  width: 100%;
  margin: auto;
  padding: 55px 24px 30px;
  position: relative;
  &.big {
    max-width: 534px;
    padding: 55px 20px 44px;
  }
}
.mfp-close {
  position: absolute;
  top: 15px !important;
  right: 20px !important;
  display: flex;
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: 0.3s ease;
  &::before {
    top: 50%;
    width: 20px;
    height: 2px;
    background-color: $primary-navy;
    border-radius: 3px;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    pointer-events: none;
  }
  &::after {
    top: 50%;
    width: 20px;
    height: 2px;
    background-color: $primary-navy;
    border-radius: 3px;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    pointer-events: none;
  }
}

// 1380px
@include xxlg-xxxlg {
  h1 {
    font-size: 50px;
  }
}
// 1180px
@include xlg-xxlg {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
    line-height: 120%;
  }
  h3 {
    font-size: 26px;
    line-height: 120%;
  }
  .auto__container {
    padding: 0 30px;
  }
}

// 1024px
@include lg-xlg {
  ::-webkit-scrollbar {
    display: none;
  }
}
// 930px
@include md-lg {
  h1 {
    font-size: 40px;
  }
  h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .breadcrumbs {
    .auto__container {
      padding: 0;
    }
    &__inner {
      padding: 0 20px;
    }
    &Link {
      margin-right: 20px;
    }
  }
}
// 750px
@include sm-md {
  h1 {
    font-size: 36px;
  }
  .auto__container {
    padding: 0 20px;
  }
}
// 540px
@include xsm-sm {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 26px;
    line-height: 31px;
  }
  h3 {
    font-size: 22px;
    line-height: 26px;
  }

  h6 {
    font-size: 18px;
    line-height: 130%;
  }
  .subhead {
    font-size: 18px;
    line-height: 120%;
  }
  p {
    &.big {
      font-size: 16px;
      line-height: 130%;
    }
  }
  .button {
    padding: 14px 20px;
  }
  .upopup {
    &__row {
      margin: 0 0 20px 0;
      flex-direction: column;
    }
    &__selects {
      .select {
        width: calc(33.3% - 5px);
        select {
          font-size: 14px;
          padding: 12px 30px 12px 14px;
        }
      }
    }
    .input {
      &__outer {
        width: 100%;
        margin: 0 0 20px 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  .mfp-container {
    display: flex;
  }
  .mfp-content {
    height: 90%;
    margin: auto 0 0 0;
  }
  .popup-content {
    background: $white;
    box-shadow: 0px 16px 32px -4px rgba(12, 12, 13, 0.1),
      0px 4px 4px -4px rgba(12, 12, 13, 0.05);
    width: 100%;
    padding: 55px 24px 30px;
    position: relative;
    max-width: unset;
    border-radius: 20px 20px 0 0;
    height: 100%;
    transition: 0.3s ease;
    overflow-y: auto;
    &.big {
      padding: 55px 20px 30px;
    }
  }
  .mfp-close {
    position: absolute;
    top: 15px !important;
    right: 20px !important;
    display: flex;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: 0.3s ease;
    &::before {
      top: 50%;
      width: 20px;
      height: 2px;
      background-color: $primary-navy;
      border-radius: 3px;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      pointer-events: none;
    }
    &::after {
      top: 50%;
      width: 20px;
      height: 2px;
      background-color: $primary-navy;
      border-radius: 3px;
      transition: all 0.3s ease;
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      pointer-events: none;
    }
  }
}
// 420px
@include xxsm-xsm {
  .modall {
    padding: 20px;
  }
  .ujoin {
    padding: 10px;
    p {
      margin-right: 15px;
    }
    .button {
      flex: 1;
      padding: 14px 5px;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
