@use "../1-main/mixin.scss" as *;
@use "../1-main/variables.scss" as *;
.header {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 100;
  &.active {
    top: 0;
    background: $white;
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1),
      0px 1px 4px rgba(12, 12, 13, 0.05);
    .header {
      &__inner {
        padding: 10px 0;
        height: 77px;
      }
    }
    .nav {
      box-shadow: unset;
    }
  }
  &.logged {
    .header {
      &__inner {
        &-buttons {
          .button {
            display: none;
          }
        }
      }
    }
    .account {
      display: block;
    }
  }
  &Top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 0;
    background: $primary-navy;
    color: $white;
    z-index: 10;
    &.hidden {
      display: none;
    }
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__info {
      display: flex;
      align-items: center;
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
        margin-right: 13px;
        display: flex;
        align-items: center;
        &:last-child {
          margin: 0;
        }
        svg {
          width: 14px;
          height: 14px;
          margin-right: 4px;
        }
        b {
          font-weight: 700;
        }
      }
    }
    &__links {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 13px;
        line-height: 15px;
        color: $white;
        margin-right: 24px;
        &:hover {
          opacity: 1;
          color: $primary-coral;
        }
        &:last-child {
          margin: 0;
        }
        svg {
          width: 18px;
          height: 18px;
          margin-right: 6px;
        }
      }
    }
  }
  &__inner {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 121px;
      padding: 3px 5px;
      img {
        width: 100%;
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
      .button {
        box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.1),
          0px 4px 4px -1px rgba(12, 12, 13, 0.05);
        border-radius: 8px;
        padding: 14px 20px;
        margin-left: 14px;
        &:first-child {
          margin: 0;
        }
        svg {
          display: none;
        }
      }
    }
  }
}
// 1180px
@include xlg-xxlg {
  .header {
    &__inner {
      &-buttons {
        .button {
          margin-left: 10px;
          padding: 12px 16px;
        }
      }
    }
  }
}
// 750px
@include sm-md {
  .header {
    top: 32px;
    &Top {
      &__info {
        display: none;
      }
      &__links {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}
// 540px
@include xsm-sm {
  .header {
    &.active {
      .header {
        &__inner {
          height: 70px;
        }
      }
    }
    &__inner {
      &-logo {
        width: 88px;
        padding: 2px 4px;
      }
      &-buttons {
        .button {
          width: 36px;
          height: 36px;
          padding: 0;
          border-radius: 50%;
          background: $primary-coral;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          box-shadow: unset;
          &.secondary {
            display: none;
          }
          span {
            display: none;
          }
          svg {
            display: block;
            width: 20px;
            height: 20px;
            margin: 0;
          }
        }
      }
    }
  }
}
// 420px
@include xxsm-xsm {
  .header {
    &Top {
      &__links {
        a {
          margin: 0;
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
