// colors
$primary-navy: #142845;
$primary-coral: #FE6F61;
$primary-blue: #82CEC7;
$secondary-blue: #B1DDD4;
$secondary-gray: #F9F9F9;
$black: #000;
$white: #fff;
// fonts
$mainFont: "Roboto", sans-serif;
$barlow: "Barlow", sans-serif;
$inter: "Inter", sans-serif;
$poppins: "Poppins", sans-serif;
$manrope: "Manrope", sans-serif;
$din: "DIN", sans-serif;
